.box {
  /* 每行 10 个 */
  display: grid;
  grid-template-columns: repeat(10, 50px);
  gap: 4px;
  margin-top: 10px;
}

.box > div {
  width: 50px;
  height: 50px;
}

/* 每 20 个一循环，颜色逐渐变化 */
.box > div:nth-child(20n + 1)  { background: hsl(0,   70%, 60%); }
.box > div:nth-child(20n + 2)  { background: hsl(18,  70%, 60%); }
.box > div:nth-child(20n + 3)  { background: hsl(36,  70%, 60%); }
.box > div:nth-child(20n + 4)  { background: hsl(54,  70%, 60%); }
.box > div:nth-child(20n + 5)  { background: hsl(72,  70%, 60%); }
.box > div:nth-child(20n + 6)  { background: hsl(90,  70%, 60%); }
.box > div:nth-child(20n + 7)  { background: hsl(108, 70%, 60%); }
.box > div:nth-child(20n + 8)  { background: hsl(126, 70%, 60%); }
.box > div:nth-child(20n + 9)  { background: hsl(144, 70%, 60%); }
.box > div:nth-child(20n + 10) { background: hsl(162, 70%, 60%); }
.box > div:nth-child(20n + 11) { background: hsl(180, 70%, 60%); }
.box > div:nth-child(20n + 12) { background: hsl(198, 70%, 60%); }
.box > div:nth-child(20n + 13) { background: hsl(216, 70%, 60%); }
.box > div:nth-child(20n + 14) { background: hsl(234, 70%, 60%); }
.box > div:nth-child(20n + 15) { background: hsl(252, 70%, 60%); }
.box > div:nth-child(20n + 16) { background: hsl(270, 70%, 60%); }
.box > div:nth-child(20n + 17) { background: hsl(288, 70%, 60%); }
.box > div:nth-child(20n + 18) { background: hsl(306, 70%, 60%); }
.box > div:nth-child(20n + 19) { background: hsl(324, 70%, 60%); }
.box > div:nth-child(20n + 20) { background: hsl(342, 70%, 60%); }
