.box {
  /* 每行 10 个 */
  display: grid;
  grid-template-columns: repeat(30, 30px);
  gap: 4px;
  margin-top: 10px;
}

.box > div {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color:#fff;
}

/* 根据类名显示颜色 */
.box > div.ImmediatePriority {
  background: hsl(0, 70%, 60%);   /* 红色系，最高优先级 */
}

.box > div.UserBlockingPriority {
  background: hsl(30, 70%, 60%);  /* 橙色系，用户阻塞优先级 */
}

.box > div.NormalPriority {
  background: hsl(180, 70%, 60%); /* 蓝绿色系，普通优先级 */
}

.box > div.LowPriority {
  background: hsl(240, 70%, 60%); /* 紫色系，最低优先级 */
}
